* {
margin: 0;
padding: 0;
}

body {
    height: 100%;
    /* altura */
    width: 100%;
    /* largura */
    display: flex;
    justify-content: center;
    background:rgb(227, 229, 253) ;
    background: linear-gradient(#64ddff, #9d9d9d); /* fundo do degrade */
    background-repeat: no-repeat;
    /* fundo do corpo */
}

.imagem {
    display: flex;
    justify-content: center;
}

.imagem img {
    width: 170px;
    /* tamanho da foto do logo */
    border-radius: 200px;
    margin-top: 30px;
}

.nome{
    display: flex; /*  */
    margin-top: 10px; /* margem superior */
    justify-content: center; 
    font-size: 32px;
    font-weight: 600; /* negrito */
    color: #185286;
    font-family: Arial, Helvetica, sans-serif;

}
.redes-sociais{
    margin-top: 20px; /* margem superior */
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-sociais a{
    text-decoration: none;
}

.icone, #email{
display: flex;
height: 35px;
width: 35px;
border-radius: 30px;
transition: all 0.3s ease-in-out;
box-shadow: 0 5px 5px rgba(red, green, blue, alpha);
margin: 3px;
overflow: hidden;

}
.icone i, #email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background: #bbb9b4;
    color: #1a4994;

    }
.icone span a{
    margin: auto;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: ;
    margin-left: 8px;
    color: #1a4994;
    line-height: 35px;
    font-size: 15px;
}
.icone:hover{
    width: 125px;
    background: #f0f0f0;
}

.texto {
display: flex;
position: relative;
justify-content: center;
align-items: center;
margin: 50px 30px; /* 2 infomarções: cima,baixo e direita,esquerda. 5 info: cima,baixo,dir,esq */
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
text-align: justify;
width: 1000px;
height: 80px;
padding: 25px;
border-radius: 10px;
color: white;
background-color: #185286;
overflow: hidden;
box-shadow: 5px 5px 14px rgb(22, 22, 22, 0.9); /* sombreamento da caixa. Tem q ser "0.8", não pode usar "0,8 pq n funciona */
}

.sobre-mim {
position: absolute; 
top: 5px;
display: flex;
color: rgb(239, 239, 239);
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
text-align: center;
font-weight: 800; /* seria o negrito, não tem pixel "escala de 100 a 900" */
line-height: 35px; 
}

.subtitulo {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #260da1;
    margin-top: 100px;
    margin-bottom: 35px;
}

.linguagem {
    display: flex; 
    justify-content: center;

}

.linguagem img {
    display: flex;
    border-radius: ; /* muda a borda da imagem */
    justify-content: center;
    align-items: center;
    width: 280px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(53, 53, 53);
    margin: 5px;

}

.projetos {
    margin-top: 100px;
    flex-direction: column;
}

.item {
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 40px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0e0047;
    background: rgb(206, 202, 255);
    box-shadow: 2px 2px 2px rgb(23, 23, 23, .5);
    border-radius: 10px;
    cursor: pointer;

    /* border-radius: ; Caso precise deixar o código, mas não quiser deletar...deixar pro futuro, colocá-lo como comentário para não ocorrer erro no código*/

}
.item:hover {
    transition: 0.2s;
    background: rgb(113, 177, 249);
}

.video {
    padding: 15px;
    margin: auto;
    display: none;
}

.video:active {
    display: block;
}

footer p{
    margin-top: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: rgb(2, 2, 2);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
} 
/* FIM CSS DESKTOP*/

/* recurso para renderizar o conteúdo do site e adapte para diversos dispositivos móveis ou resoluções */
@media (max-width: 700px){
    .imagem img{
        width: 140px;
        margin-top: 25px;

    }
    .texto{
        width: 500px;
        height: 200px; /*muito texto aumenta, pouco texto diminui*/

    }

    .linguagem img{
        width: 280px;

    }

    .subtitulo {
        font-size: 30px;
    }

    .item{
        width: 300px;
    }

    .video{
        width: 250;
    }
/*Fim resolução 700px*/
}

/*Resolução para Smartphone*/

@media (max-width: 500px){

    .imagem img{
        width: 100px;
        margin-top: 30px;
    }

    .nome {
        font-size: 25px;
    }

    .texto {
        margin-top: 50px;
        width: 200px;
        height: 620px;
        padding: 30px;
    
    }
    .sobre-mim {
        font-size: 15;
    }

    .subtitulo{
        font-size: 25px;
    }

    .item{
        width: 260px;
        height: 40px;
        margin-top: 15px;
    }

    .video{
        width: 250px;
        height: 160px;
    }
  
    }

